body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    text-rendering: optimizeSpeed;
    font-kerning: normal;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h1 + h2,
h1 + p,
h1 + ul,
h1 + ol,
h1 + table,
h2 + h3,
h2 + p,
h2 + ul,
h2 + ol,
h2 + table,
h3 + p,
h3 + ul,
h3 + ol,
h3 + table,
p + h2,
p + h3,
p + p,
p + ul,
p + ol,
p + table,
ul + h2,
ul + h3,
ul + p,
ul + ul,
ul + ol,
ul + table,
ol + h2,
ol + h3,
ol + p,
ol + ul,
ol + ol,
ol + table,
table + h2,
table + h3,
table + p,
table + ul,
table + ol,
table + table {
    margin-top: 1em;
}

ul,
ol {
    margin-left: 0em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        padding-left: 1.3em;

        @media (min-width: 44rem) {
            margin-left: -1.3em;
        }
    }

    li + li {
        margin-top: 1em;

        ul &,
        ol & {
            margin-top: 0.5em;
        }
    }

    li::before {
        position: absolute;
        left: 0;
        content: '— ';
    }
}

ol {
    li {
        position: relative;
        padding-left: 1.3em;
    }

    li + li {
        margin-top: 1em;

        ul &,
        ol & {
            margin-top: 0.5em;
        }
    }
}

table {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

p {
    hyphens: auto;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}
