// page dimensions
$page-width: 1290px;

// Fonts
$font-family: system-ui;
$font-heading: 'Open Sans', system-ui;

// Colors
$color-mono-white: #fff;
$color-mono-dark: #14120f;
$color-mono-gray-light: #f6f6f6;
$color-mono-gray: #bdbdbd;
$color-mono-gray-dark: #767676;

$color-highlight: #ff0035;

$color-font: $color-mono-dark;
$color-background: $color-mono-white;
$color-placeholder: $color-mono-gray;
